body{
    background-color: black;
    background: yellow ;
}
.barner{
    background-image: url(https://lh3.googleusercontent.com/proxy/77XCWrsZBArTyzLURP8uF6yxEAfKJ17cyKsjlIjm5T_bs9QJ26s4izE28-ulJxgwpbvEgJQHQkYtEAlJmKQKGTQEi-9hQQ);
    width:500px ;
    height:288px ;
}